_ReSharper*
WebUI.6.1.ReSharper
*csproj.DotSettings
*.sln.docstates
bin
Bin
obj
*.suo
*.ncb
*.vsp
binaries
CLI Debug
*.SEATCORP.*
*.user
.svn
PatchEntry.dll
PatchStub.exe
Milliman.MGAlfa.Packaging.dll
*.sln.cache
Releases
build
TestResult.xml
*.orig
log*.txt
debugLog*.txt*
infoLog*.txt*
errorLog*.txt*
*.swp
\#*#
*.build.*
*.password
App_Data
bundle.js
bundle.*.js
*crunchsolution*
*crunchproject*
TAGS
*iisnode\*.txt